<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Updates</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="container">

        <h1 style="text-align: center; margin-top: 50px;">Work Updates</h1>
        <h3 style="text-align: left; margin-top: 100px;" >Please select images</h3>
<div class="form">
    <form action="/submit" method="post">
    <div style="display: flex;" class="firstrow">
        <div  class="firstimage">
            <label for="first">1.</label>
            <input type="checkbox" name="images" value="image1" id="first">
            <div>
                <img src="/images/image1.jpeg" alt="" height="85%" width="55%">
            </div>
            
        </div>
        <div class="secondimage">
            <label for="second">2.</label>
            <input type="checkbox" name="images" value="image2" id="second">
            <div>
            <img src="/images/image2.jpeg" alt="" height="85%" width="55%">
            </div>
        </div>
        <div class="thirdimage">
            <label for="third">3.</label>
            <input type="checkbox" name="images" value="image3" id="third">
            <div>
            <img src="/images/image3.jpeg" alt="" height="85%" width="55%">
            </div>
        </div>
    </div>
    <div style="display: flex;" class="secondrow">
        <div  class="fourthimage">
            <label for="fourth">4.</label>
            <input type="checkbox" name="images" value="image4" id="fourth">
            <div>
                <img src="/images/image4.jpeg" alt="" height="85%" width="55%">
            </div>
            
        </div>
        <div class="fifthimage">
            <label for="fifth">5.</label>
            <input type="checkbox" name="images" value="image5" id="fifth">
            <div>
            <img src="/images/image5.jpeg" alt="" height="85%" width="55%">
            </div>
        </div>
        <div class="sixthimage">
            <label for="sixth">6.</label>
            <input type="checkbox" name="images" value="image6" id="sixth">
            <div>
            <img src="/images/image6.jpeg" alt="" height="85%" width="55%">
            </div>
        </div>
    </div>
    <div style="display: flex;" class="thirdrow">
        <div  class="seventhimage">
            <label for="seventh">7.</label>
            <input type="checkbox" name="images" value="image7" id="seventh">
            <div>
                <img src="/images/image7.jpeg" alt="" height="85%" width="55%">
            </div>
            
        </div>
        <div class="eightimage">
            <label for="eight">8.</label>
            <input type="checkbox" name="images" value="image8" id="eight">
            <div>
            <img src="/images/image8.jpeg" alt="" height="85%" width="55%">
            </div>
        </div>
        <div class="ninethimage">
            <label for="ninth">9.</label>
            <input type="checkbox" name="images" value="image9" id="ninth">
            <div>
            <img src="/images/image9.jpeg" alt="" height="85%" width="55%">
            </div>
        </div>
        
    </div>
    <div style="margin-top: 30px; width: 100%; margin-bottom: 50px; " class="btn">
        <button style="border-radius:9px; font-weight: 560; margin-left: 100px; font-size: 15px; cursor: pointer; padding: 10px 5px; background: rgb(219, 219, 190); " type="submit" class="but">Submit Images</button>
    </div>
    </form>
</div>

    </div>
</body>
</html>